<div class="container">
    <div class="row row-cols-1 row-cols-md-1">
        <div class="card" *ngIf="!loading">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">
                    Paciente
                </h4>
            </div>
            <div class="card-body">
                <ul class="nav nav-tabs" id="pacienteTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="principal-tab" data-toggle="tab" href="#principal" role="tab" aria-controls="principal" aria-selected="true">
                            Datos Principales
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="domicilio-tab" data-toggle="tab" href="#domicilio" role="tab" aria-controls="domicilio" aria-selected="false">
                            Domicilio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contactos-tab" data-toggle="tab" href="#contactos" role="tab" aria-controls="contactos" aria-selected="false">
                            Contactos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="familia-tab" data-toggle="tab" href="#familia" role="tab" aria-controls="familia" aria-selected="false">
                            Familia
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="ssocial-tab" data-toggle="tab" href="#ssocial" role="tab" aria-controls="ssocial" aria-selected="false">
                            S. Social
                        </a>
                    </li>
                  </ul>
                  <div class="tab-content" id="pacienteTabContent">
                    <div class="tab-pane fade show active" id="principal" role="tabpanel" aria-labelledby="principal-tab">
                        <app-paciente-principal *ngIf="paciente" [paciente]="paciente"></app-paciente-principal>
                    </div>
                    <div class="tab-pane fade" id="domicilio" role="tabpanel" aria-labelledby="domicilio-tab">
                        <app-domicilio *ngIf="paciente" 
                            [idPersona]="paciente._id" 
                            [domicilio]="paciente.domicilio" 
                            [tipo]="'paciente'" [modo]="modo">
                        </app-domicilio>
                    </div>
                    <div class="tab-pane fade" id="contactos" role="tabpanel" aria-labelledby="contactos-tab">
                        Contactos
                    </div>
                    <div class="tab-pane fade" id="familia" role="tabpanel" aria-labelledby="familia-tab">
                        Familia
                    </div>
                    <div class="tab-pane fade" id="ssocial" role="tabpanel" aria-labelledby="ssocial-tab">
                        SSocial
                    </div>
                  </div>
            </div>
        </div>
    </div>
    
</div>
