<div class="container">
    <div class="row row-cols-1 row-cols-md-1">
        <div class="card" *ngIf="!loading">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">
                    Turnos
                </h4>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <span class="navbar-text">Turnos del {{ fecha | date: "EEEE dd-MM-yyyy"}}</span>
                    <div class="btn-toolbar ml-4" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button class="btn btn-outline-success" type="button" (click)="hoy()">Hoy</button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button class="btn btn-outline-success col-md-2" type="button" (click)="diaAnterior()">
                                <fa-icon [icon]="faAngleDoubleLeft" class="menu-icon"></fa-icon>
                            </button>
                            <input type="date" class="form-control col-md-8" [value]="fecha.format('YYYY-MM-DD')" (change)="cambiarFecha($event)">
                            <button class="btn btn-outline-success col-md-2" type="button" (click)="diaSiguiente()">
                                <fa-icon [icon]="faAngleDoubleRight" class="menu-icon"></fa-icon>
                            </button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button class="btn btn-outline-success" type="button" (click)="nuevo()">Nuevo</button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button class="btn btn-outline-success" type="button">Imprimir</button>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="card-body">
                <div id="turnos">
                    <div *ngFor="let column of columns; let j = index"
                         class="turno-column"
                         [ngStyle]="{ width: widthColumnE }"
                         [id]="column.id">
              
                         <div class="turnos-card turnos-card-prof">
                          <div class="row" style="margin: 0px;">
                            <div class="col-4" style="padding: 5px 0px 0px 5px;">
                              <img [src]="column.head.img | imagen" class="turnos-thunb"/>
                            </div>
                            <div class="col-8" style="padding: 5px 0px 0px 5px;">
                              {{ column.head.apellido }} {{ column.head.nombre }}
                            </div>
                          </div>
                         </div>
              
                         <div class="turnos-detalle" [ngClass]="{ 'width': widthColumnD}">
                           <!-- <ng-content #name  style="width: -webkit-fill-available;"> -->
              
                             <div *ngFor="let turno of column.turnos; let i = index" class="turnos-card turnos-card-pac" [ngClass]="turno.estilo"
                               [ngStyle]="{'height': turno.duracion * 2 + 'px', 'max-height': turno.duracion * 2 + 'px', 'top': turno.top, 'width': widthColumnD}" style="position: absolute">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <div class="turnos-card-pac-title pointer" (click)="editarTurno(turno)">
                                            {{turno.horaInicio}}
                                        </div>
                                   </div>
                               </div>
                               <div class="turnos-card-pac-content" [ngStyle]="{'height': turno.duracion * 2 - 20 + 'px'}" *ngIf="turno.paciente">
                                <div class="row" style="margin: 0px;">
                                    <div class="col-3" style="padding: 10px 0px 0px 5px">
                                      <img [src]="turno.paciente.img | imagen" class="turnos-thunb-pac" *ngIf="turno.estado !== 'NO DISPONIBLE'"/>
                                    </div>
                                    <div class="col-7" style="padding: 5px 0px 0px 5px">
                                        <a [tabindex]="j * i" matTooltipPosition="left" matTooltip={{turno.observaciones}}>               
                                            {{ turno.paciente.apellido }} {{ turno.paciente.nombre }}
                                        </a>
                                    </div>
                                    <div class="col-2" style="padding: 10px 0px 0px 0px">
                                        <div class="turnos-card-pac-content-menu">
                                            <div class="dropdown">
                                                <a class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" 
                                                    data-toggle="dropdown" aria-haspopup="true" 
                                                    aria-expanded="false"
                                                >
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item"
                                                        (click)="eliminarTurno(turno)">
                                                        <fa-icon [icon]="faTrashAlt" class="menu-icon"></fa-icon>
                                                    </a>
                                                    <a class="dropdown-item" (click)="marcarRealizado(turno)">
                                                        <fa-icon [icon]="faCheckCircle" class="menu-icon"></fa-icon>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               </div>
                             </div>
              
                           <!-- </ng-content> -->
                           
                            <!-- <app-card-turno [turno]="t" (actualizar)="cargarTurnos($event)"
                             *ngFor="let t of column.turnos" style="width: -webkit-fill-available;">
                            </app-card-turno> -->
                         </div>
                         
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>

<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="toast" style="position: absolute; top: 100px; right: 0;">
    <div class="toast-header">
      <!-- <img src="..." class="rounded mr-2" alt="..."> -->
      <strong class="mr-auto">TURNO GUARDADO</strong>
      <small>11 mins ago</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
</div>
